.MainPage {
}

.titleNewProduct {
   margin: 45px 0 30px;
}

.man {
   position: absolute;
   width: 10%;
   left: 0;
   top: 530px;
   z-index: 1;
}

.woman {
   position: absolute;
   width: 10%;
   right: 0;
   bottom: 1138px;
}
