:root {
   // прозрачность
   --opacity-80: 0.8;
   --opacity-70: 0.7;
   --opacity-40: 0.4;

   // text

   --size-10: 10px;
   --size-11: 11px;
   --size-12: 12px;
   --size-13: 13px;
   --size-14: 14px;
   --size-15: 15px;
   --size-16: 16px;
   --size-17: 17px;
   --size-18: 18px;
   --size-20: 20px;
   --size-22: 22px;
   --size-24: 24px;
   --size-26: 26px;
   --size-30: 30px;
   --size-32: 32px;
   --size-38: 38px;
   --size-44: 44px;

   --weight-900: 900;
   --weight-700: 700;
   --weight-500: 500;

   --navbar-height: 117px;
   --header-height: 130px;

   --page-width: 1110px;

   // switch
   --switch: 100px;
}
