@import '../../../../app/styles/variables/mixins.scss';

.home {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: var(--page-width);
   width: 100%;
   padding-top: var(--header-height);
   margin: 0 auto;

   &.basket {
      padding-top: 0;
   }
}

@media screen and (max-width: $mobile) {
   .home {
      padding-top: 63px;
   }
}
