.main {
   width: 730px;
}

.title {
   margin-bottom: 30px;
}

.form {
   width: 100%;
}

.titlePromo {
   margin-bottom: 27px;
}

.inputPromo {
   font-size: var(--size-13);
   color: var(--color-card-text);

   &.inputPromoPlaceholder {
      &::placeholder {
         color: var(--color-card-text);
      }
   }
}

.promoButton {
   background-color: var(--color-yellow);
   color: var(--color-text-button);
   border-radius: 0 8px 8px 0;
   font-size: var(--size-13);
   font-weight: var(--weight-700);
}

.checkbox {
   height: 28px;
   width: 439px;
   gap: 16px;
   margin: 60px 0 33px;
}

.label {
   font-size: var(--size-14);
   font-weight: var(--weight-700);
   color: var(--color-primary);
}

.link {
   text-decoration: none;
   display: flex;
   gap: 15px;
   align-items: center;
   font-size: 15px;
   color: var(--color-primary);
}

.arrowBack {
   height: 13px;
   fill: var(--color-primary);
   transform: rotate(180deg);
}

.button {
   position: relative;
   gap: 15px;
}

.arrow {
   position: absolute;
   right: 20px;
   height: 10px;
   fill: var(--color-primary);
   stroke: var(--color-text-button);
}
