.modal {
   width: 960px;
   height: 650px;
   border-radius: 12px;
   background-color: var(--block-bg-primary);
   padding: 30px;
   position: relative;
   opacity: 0;
   transform: scale(0.9);
   transition: 0.2s;

   &.modalActive {
      opacity: 1;
      transform: scale(1);
      transition: 0.2s;
   }
}
