.formByPhone {
   padding-top: 41px;
   width: 587px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   position: relative;
}

.recaptcha {
   visibility: hidden;
}

.error {
   margin-top: 90px;
}
