.Modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 5;
   pointer-events: none;
   overflow: hidden;

   &.center {
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &.opened {
      pointer-events: auto;
   }
}

.content {
   position: relative;
   z-index: 5;

   &.modaleAnimate {
      opacity: 0;
      transform: scale(0.9);
      transition: 0.2s;
   }

   &.nonAnimate {
      opacity: 1;
   }

   &.modalActive {
      opacity: 1;
      transform: scale(1);
      transition: 0.2s;
   }
}

.close {
   position: absolute;
   background: transparent;
   fill: var(--color-yellow);
   z-index: 5;
}
