@import '../../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $mobile) {
   .BasketPage {
      width: 320px;
      padding: 10px;
   }

   .header {
      height: 77px;
      margin-top: 53px;
   }

   .main {
      padding: 30px 0;
      width: 300px;
   }

   .title {
      font-size: var(--size-22);
      margin-bottom: 20px;
   }

   .price {
      font-size: var(--size-20);
      align-self: flex-start;
      margin: 31px 0 40px;
   }

   .sum {
      font-size: var(--size-26);
      margin-left: 15px;
   }

   .btnContainer {
      flex-direction: column-reverse;
   }

   .link {
      margin-top: 18px;
   }

   .modalAddress {
      max-height: 85vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
   }
}
