@import '../../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $mobile) {
   .BasketPage {
      width: 320px;
      padding: 10px;
   }

   .header {
      height: 77px;
      margin-top: 53px;
   }

   .line {
      width: 100%;
      color: var(--color-line);
      border-bottom: 1px solid var(--color-line);
   }

   .main {
      padding: 30px 0;
      width: 300px;
   }

   .title {
      font-size: var(--size-22);
      margin-bottom: 20px;
   }

   .price {
      align-self: flex-end;
      margin: 45px 0;
   }

   .sum {
      font-size: var(--size-38);
      font-weight: var(--weight-900);
      color: var(--color-yellow);
      margin-left: 15px;
   }

   .link {
      text-decoration: none;
      display: flex;
      gap: 15px;
      align-items: center;
      font-size: 15px;
      color: var(--color-primary);
   }

   .arrowBack {
      height: 13px;
      fill: var(--color-primary);
      transform: rotate(180deg);
   }

   .button {
      position: relative;
      gap: 15px;
   }

   .arrow {
      position: absolute;
      right: 20px;
      height: 10px;
      fill: var(--color-primary);
      stroke: var(--color-text-button);
   }
}
