.BasketPage {
   width: 1110px;
}

.header {
   height: 93px;
   border-bottom: 1px solid var(--color-line);
}

.line {
   width: 100%;
   color: var(--color-line);
   border-bottom: 1px solid var(--color-line);
}

.main {
   padding: 40px 0;
   width: 795px;
}

.title {
   margin-bottom: 30px;
}

.price {
   align-self: flex-end;
   margin: 45px 0;
}

.sum {
   font-size: var(--size-38);
   font-weight: var(--weight-900);
   color: var(--color-yellow);
   margin-left: 15px;
}

.link {
   text-decoration: none;
   display: flex;
   gap: 15px;
   align-items: center;
   font-size: 15px;
   color: var(--color-primary);
}

.arrowBack {
   height: 13px;
   fill: var(--color-primary);
   transform: rotate(180deg);
}

.button {
   position: relative;
   gap: 15px;
}

.arrow {
   position: absolute;
   right: 20px;
   height: 10px;
   fill: var(--color-primary);
   stroke: var(--color-text-button);
}
