@import '@/app/styles/variables/mixins.scss';

.Navbar {
   width: 1110px;
   gap: 60px;
   position: relative;
   z-index: 6;
}

.loginContainer {
   display: flex;
   gap: 20px;
}

.loginButton {
   width: 90px;
   height: 36px;
}

.basket_quantity {
   display: inline;
   text-align: end;
   margin-left: 14px;
   padding-left: 13px;
   border-left: 1px solid var(--color-text-button);
}

.links {
   flex-grow: 1;
   height: 18px;
}

.link {
   @include font(var(--size-15), var(--weight-700), var(--color-primary));
}

.phoneModal {
   width: 668px;
   height: 320px;
   border-radius: 12px;
   background: var(--color-modal);
   color: var(--color-yellow);
   padding: 30px 40px;
   position: relative;
   transform: scale(0.9);
   transition: 0.3s transform;
   position: relative;

   &.authModalActive {
      transform: scale(1);
      transition: 0.3s transform;
   }
}

.basketPopup {
   position: absolute;
   display: flex;
   right: calc((100vw - 1110px) / 2);
   top: calc(-100vh + var(--header-height) * 2);
   width: 370px;
   height: calc(100vh - var(--header-height));
   background-color: var(--block-bg-primary);
   border: 1px solid var(--color-yellow);
   border-radius: 14px;
   transition: 0.3s;
   z-index: 1;

   &.basketPopupActive {
      transition: 0.3s;
      transform: translateY(calc(100vh - var(--header-height)));
   }
}

.account {
   fill: var(--color-primary);
   width: 32px;
   height: 32px;
}
