.BasketItem {
   position: relative;
   border-top: 1px solid var(--color-line);
   margin-bottom: 3px;

   &:last-child {
      border-bottom: 1px solid var(--color-line);
   }

   &.basket_modal {
      width: 328px;
      padding-top: 20px;
   }

   &.basket_page {
      width: 795px;
      padding: 30px 50px 30px 0;
      justify-content: space-between;
   }
}

.linkCard {
   cursor: pointer;
}

.image {
   width: 60px;
   height: 60px;
}

.textContainer {
   &.basket_modal {
      width: 223px;
      padding-top: 3px;
   }

   &.basket_page {
      width: 400px;
   }
}

.title {
   &.basket_page {
      font-size: var(--size-18);
   }
}

.close {
   fill: var(--color-primary);

   &.basket_modal {
      width: 15px;
      height: 15px;
   }

   &.basket_page {
      position: absolute;
      right: 0;
      width: 20px;
      height: 20px;
   }
}

.priceContainer {
   &.basket_modal {
      padding: 0 20px;
      width: 328px;
      height: 54px;
   }

   &.basket_page {
      padding: 0 20px;
      width: 250px;
      height: 54px;
   }
}

.totalPrice {
   &.basket_page {
      font-size: 24px;
   }
}

@import './BasketItemAdapt.module.scss';
