.EditAddress {
   height: 129px;
   width: 100%;
}

.title {
   margin-top: 20px;
}

.addressContainer {
   height: 129px;
   width: 539px;
   padding: 19px;
   border-radius: 8px;
   border: 1px solid var(--color-input-outline);
   background-color: var(--color-background-button);
}

.address {
   width: 306px;
   height: 100%;
}

.buttonsContainer {
   height: 100%;
}

.buttonAddress {
   color: var(--color-bg-addInfo-card);
}

.inputDelivery {
   margin-top: 110px;
}
