.CardScrolling {
   background-color: var(--block-bg-primary);
   justify-content: flex-start;

   &.horizontal_big_font {
      gap: 25px;
      width: 255px;
      height: 100%;
      padding: 0 17px;
   }

   &.horizontal_small_font {
      gap: 15px;
      width: 255px;
      height: 100%;
      padding: 0 9px 0 17px;
   }
   &.vertical_small_font {
      padding: 14px 12px 20px;
      height: 100%;
      gap: 9px;
   }
}

.image {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   min-width: 71px;
   height: 71px;
}

.cardInfo {
   margin: 0;

   &.horizontal_big_font {
      gap: 4px;
      width: 122px;
   }

   &.horizontal_small_font {
      gap: 8px;
   }
   &.vertical_small_font {
      align-items: center;
      height: 60px;
      justify-content: space-between;
   }
}

.textHover {
   padding: 8px;
   position: absolute;
   top: -33px;
   left: 0;
   width: 300px;
   border-radius: 8px;
   visibility: hidden;
   opacity: 0;
   transition: 0.2s;
}

.text {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   color: var(--color-primary);
   font-weight: var(--weight-700);

   &.horizontal_big_font {
      font-size: var(--size-18);
   }

   &.horizontal_small_font {
      font-size: var(--size-13);
      display: -webkit-box;
      font-weight: var(--weight-500);
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   &.vertical_small_font {
      font-size: var(--size-13);
      text-align: center;
      font-weight: var(--weight-500);
   }

   &:hover .textHover {
      visibility: visible;
      opacity: 1;
      transition: 0.2s;
   }
}

.price {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font-weight: var(--weight-700);

   &.horizontal_big_font {
      font-size: var(--size-16);
      color: var(--color-yellow);
   }

   &.horizontal_small_font {
      font-size: var(--size-14);
      color: var(--color-pink);
   }
   &.vertical_small_font {
      font-size: var(--size-14);
      color: var(--color-pink);
   }
}
