.AdditivesCard {
   width: 96px;
   height: 145px;
   background-color: var(--color-bg-primary);
   border: 1px solid var(--color-border-cards);
   box-shadow: 0 0 8px 0 var(--color-shadow);
   padding: 12px 6px;
   font-size: 10px;
   position: relative;

   &.active {
      border: 1px solid var(--color-bg-addInfo-card);
   }
}

.icon {
   position: absolute;
   right: 5px;
   top: 5px;
   fill: var(--color-bg-addInfo-card);
   width: 20px;
   height: 20px;
}
