.ContactsPage {
   padding: 38px 0 37px;
}

.map {
   width: 1110px;
   height: 322px;
   border-radius: 14px;
   overflow: hidden;
}

.phone {
   margin: 40px 0 20px;
}

.address {
   margin-bottom: 30px;
}

.time {
   font-size: var(--size-15);
   font-weight: var(--weight-500);
}
