.markerContainer {
   position: relative;

   .mapInfo {
      position: absolute;
      bottom: 45px;
      width: 200px;
      height: fit-content;
      background-color: white;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
      padding: 4px;
      border: 1px solid rgb(200, 200, 200);
   }

   &:has(.markerStore:hover) {
      .mapInfo {
         visibility: visible;
         opacity: 1;
         transition: 0.3s;
      }
   }
}
