.Bonuses {
   display: flex;
   justify-content: center;
   width: 100vw;
   background-color: var(--color-grey-blue);
   padding: 43px;
}

.bonusesContainer {
   width: 1110px;
}

.emptyCard {
   background-color: var(--color-white);
   width: 255px;
   height: 338px;
   padding: 38px;
   border-radius: 8px;
   box-shadow: 0 4px 28px 0 rgba($color: #000000, $alpha: 0.08);
}

.bonusesLink {
   margin-top: 9px;
   padding-bottom: 3px;
   border-bottom: 2px dashed var(--color-yellow);
}
