@import '../../../../app/styles/variables/mixins.scss';

.Additives {
   position: relative;
   width: 330px;
   display: flex;
}

.container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
}

@media screen and (max-width: $mobile) {
   .Additives {
      width: 280px;
   }

   .container {
      gap: 12px;
      justify-content: center;
   }
}
