@import '../../../../app//styles/variables/mixins.scss';

.man {
   position: absolute;
   width: 10%;
   left: 0;
   top: 660px;
   z-index: 1;
}

.woman {
   position: absolute;
   width: 10%;
   right: 0;
   bottom: 1138px;
}

@media screen and (max-width: $mobile) {
   .man {
      width: 15%;
      top: 320px;
   }

   .woman {
      width: 15%;
      bottom: 409px;
   }
}
