.select {
   position: relative;
   display: flex;
   width: 100%;
   font-size: var(--size-15);
   font-weight: var(--weight-700);
}

.selectContainer {
   border: 1px solid var(--color-input-outline);
   border-radius: 8px;
}

.max {
   width: 100%;
}

.days {
   width: 95px;
   height: 100%;
   border-radius: 8px 0 0 8px;
   border-right: 1px solid var(--color-select-border);
   background: var(--color-background-button);
}

.months {
   width: 160px;
   height: 100%;

   border-right: 1px solid var(--color-select-border);
   background: var(--color-background-button);
}

.years {
   width: 95px;
   height: 100%;
   border-radius: 0 8px 8px 0;
   background: var(--color-background-button);
}

.selected {
   background: var(--color-background-button);
}

.selectEdit {
   margin-left: 21px;
   color: var(--color-primary);
   &.editActive {
      color: var(--color-input-active);
   }
}
