.cards {
   position: absolute;
   border-radius: 13px;
   overflow: hidden;
   cursor: pointer;
}

.Card > div:first-child {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   width: 100%;
   height: 100%;
}
