@import '../../../../../app/styles/variables/mixins.scss';

.MainPageProducts {
   padding-bottom: 64px;
   width: 1110px;
}

.title {
   width: 100%;
   font-size: var(--size-32);
   margin: 46px 0 26px;
}

@media screen and (max-width: $mobile) {
   .MainPageProducts {
      padding-bottom: 46px;
      padding-top: 10px;
      width: 300px;
   }

   .title {
      width: 100%;
      font-size: var(--size-22);
      margin: 33px 0 15px 5px;
   }
}
