.modal {
   width: 960px;
   height: 650px;
   border-radius: 12px;
   background-color: var(--block-bg-primary);
   padding: 30px;
   position: relative;
   transform: scale(0.9);
   transition: 0.3s transform;

   &.modalActive {
      transform: scale(1);
      transition: 0.3s transform;
   }
}
