.DeliveryPay {
   width: 100vw;
   height: 688px;
   background-color: var(--color-bg-bonuse);
}

.title {
   margin: 56px 0 35px;
}

.container {
   gap: 30px;
   margin: 35px 0;
   filter: drop-shadow(0 0 7px var(--color-shadow));
}

.button {
   position: relative;
   padding-top: 10px;
   width: 255px;
   height: 100px;
   background-color: var(--color-delivery-info);
}

.button::before {
   content: '';
   position: absolute;
   background-color: var(--color-delivery-info);
   width: 77px;
   height: 77px;
   border-radius: 50%;
   top: -38px;
}

.icon {
   position: absolute;
   width: 44px;
   height: 44px;
   top: -23px;
}

.map {
   width: 1110px;
   height: 322px;
   border-radius: 14px;
   overflow: hidden;
}
