.app_light_theme {
   --color-primary: #231f20;
   --block-bg-primary: #fff;
   --color-bg-primary: #fff;
   --color-white: #fff;
   --color-bg-primary-header: rgba(255, 255, 255, 0.9);
   --color-bg-addInfo-card: #fa7532;

   --color-bg-primary-scrolling: rgba(255, 255, 255, 0.7);
   --color-bg-primary-scrolling-light: rgba(255, 255, 255, 0.1);
   --color-bg-hover: #ededea;

   --color-select-border: #bcbdc1;
   --color-shadow: rgba(0, 0, 0, 0.1);
   --color-border-cards: rgba(46, 46, 46, 0.1);
   --color-skeleton: #e9e9ed;

   --color-background-button: #e9e9ed;
   --color-bg-bonuse: #e3ecf5;
   --color-bg-card-bonuse: #e6eef4;
   --color-delivery-info: #fff;

   --color-title-card: #696f7a;
   --color-red: #df0e14;
   --color-black: #000;

   --color-line: #bbbbbb;

   --color-text-button: #231f20;

   --color-input-edit: #6c6c6c;
   --color-modal-input-edit: #6c6c6c;
   --color-modal: #fff;

   --color-card-text: #797979;
   --color-grey-blue-dark: #696f7a;
   --color-grey-blue: #e3ecf5;
   --color-input-outline: #e2e2e9;
   --color-input: #686466;
   --color-card-button-dark: #473e43;
   --color-yellow: #f7d22d;
   --color-bg-inverted: #ff9a2e;
   --color-pink: #ff2e65;
   --color-input-active: #ff9a2e;
}
