@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

@import 'reset';
@import 'variables/global.scss';

body {
   font-family: 'Montserrat', sans-serif;
}

.root {
   position: relative;
   // чтобы не дергался экран из-за скрола (max-width не пойдет)
   padding: 0 calc(20px - (100vw - 100%)) 0 0;
   overflow-x: hidden;
}

.app {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 1110px;
   width: 100%;
   padding-top: 120px;
   margin: 0 auto;
}
