.ViewProducts {
   width: 1110px;
}

.title {
   margin: 46px 0 26px;
}

.container {
   gap: 49px 29px;
}

.card {
   width: 255px;
   height: 465px;
   border-radius: 14px;
   background-color: var(--block-bg-primary);
   border: 1px solid var(--color-border-cards);
   box-shadow: 0 0 8px 0 var(--color-shadow);
}
