.ActionItem {
   width: 350px;
   height: 391px;
   box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.15);
   position: relative;
}

.image {
   width: 350px;
}

.info {
   position: absolute;
   top: 138px;
   background-color: var(--color-bg-primary);
   height: 253px;
   padding: 20px;
}

.title {
   font-size: var(--size-20);
}

.description {
   margin: 10px 0 20px;
   line-height: 20px;
   font-size: var(--size-13);
}

.button {
   width: 159px;
   height: 45px;
}

@import './ActionItemAdapt.module.scss';
