.app_dark_theme {
   // --color-primary: #231f20;
   --color-primary: #d3d3d3;
   --color-bg-primary: #555a5f;
   --color-bg-primary-header: rgb(62, 67, 73, 0.9);
   --color-bg-primary-scrolling: rgb(85, 90, 95, 0.7);
   --color-bg-primary-scrolling-light: rgb(85, 90, 95, 0.1);
   --block-bg-primary: #4e5256;
   --color-bg-addInfo-card: #fa7532;

   --color-shadow: rgb(63, 64, 68, 0.6);
   --color-border-cards: rgb(62, 67, 73);
   --color-background-button: #bbbbbb;
   --color-line: #bbbbbb;

   --color-select-border: #7a7b7f;
   --color-bg-bonuse: #7a7b7f;
   --color-bg-card-bonuse: #848589;
   --color-modal-input-edit: #848589;
   --color-modal: #6e6c67;
   --color-grey-blue: #bbbbbb;
   --color-card-text: #bbbbbb;
   --color-title-card: #d3d3d3;
   --color-delivery-info: #b6b5b5;
   --color-red: #df0e14;
   --color-white: #fff;
   --color-black: #000;
   --color-grey-blue-dark: #35393e;
   --color-skeleton: #848589;
   --color-text-button: #231f20;

   --color-card-button-dark: #473e43;

   --color-input-edit: #4b4b4b;

   --color-input-outline: #e2e2e9;
   --color-input: #686466;
   --color-yellow: #fbd00f;
   --color-bg-inverted: #ff9a2e;
   --color-pink: #ff2e65;
   --color-input-active: #ff9a2e;
   --color-bg-hover: #686a6c;
   --color-bg-card: #ededea;
}
