@import '@/app/styles/variables/mixins.scss';

@media screen and (max-width: $mobile) {
   .Navbar {
      width: 100%;
      flex-direction: column;
      background-color: inherit;
      gap: 20px;
      position: absolute;
      padding-bottom: 31px;
   }

   .loginButton {
      width: 90px;
      height: 36px;
      color: var(--color-black);
   }

   .links {
      flex-direction: column;
      gap: 15px;
      flex-grow: 1;
      height: auto;
   }

   .link {
      @include font(var(--size-15), var(--weight-700), black);
   }

   .project {
      font-size: var(--size-17);
      color: var(--color-black);
      font-weight: var(--weight-700);
   }

   .account {
      fill: black;
   }

   .basket {
      background-color: var(--color-white);
   }
}
