@import '@/app/styles/variables/mixins.scss';

.Navbar {
   width: 1110px;
   gap: 60px;
   position: relative;
   z-index: 6;
}

.loginContainer {
   display: flex;
   gap: 20px;
}

.loginButton {
   width: 90px;
   height: 36px;
}

.basket_quantity {
   display: inline;
   text-align: end;
   margin-left: 14px;
   padding-left: 13px;
   border-left: 1px solid var(--color-text-button);
}

.links {
   flex-grow: 1;
   height: 18px;
}

.link {
   @include font(var(--size-15), var(--weight-700), var(--color-primary));
}

.account {
   fill: var(--color-primary);
   width: 32px;
   height: 32px;
}

.basket {
   width: 160px;
   height: 36px;
   background-color: var(--color-yellow);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   color: var(--color-text-button);
   font-size: var(--size-16);
   font-weight: var(--weight-700);
}
