.StructureOrder {
   width: 340px;
   height: 495px;
   padding: 20px 10px 20px 20px;
   border-radius: 8px;
   background-color: var(--block-bg-primary);
   border: 1px solid var(--color-border-cards);
   box-shadow: 0 0 8px 0 var(--color-shadow);
   margin-top: 30px;
}

.price {
   margin-bottom: 20px;
}
