.OrderPage {
   width: 1110px;
}

.header {
   height: 93px;
   border-bottom: 1px solid var(--color-line);
}

.main {
   margin: 32px 0;
}

.line {
   width: 100%;
   color: var(--color-line);
   border-bottom: 1px solid var(--color-line);
}
