.title {
   margin: 44px 0 24px;
   font-size: var(--size-30);
}

.input {
   height: 82px;
   width: 446px;
   margin-bottom: 9px;
   font-size: var(--size-14);
   font-weight: var(--weight-700);

   input {
      font-size: var(--size-14);
   }

   button {
      font-size: var(--size-14);
   }
}

.textSelect {
   margin-bottom: 16px;
}

.checkbox {
   height: 28px;
   width: 439px;
   gap: 16px;
}

.label {
   font-size: var(--size-14);
   font-weight: var(--weight-700);
   color: var(--color-primary);
}

.form {
   width: 452px;
}

.dateSelect {
   margin: 9px 0;
}

.subscriptions {
   margin: 30px 0 13px;
}

.submit {
   margin-top: 42px;
}

@import './PersonalDataAdapt.module.scss';
