.switch {
   width: 350px;
   gap: 5px;
   margin: 40px 0;
}

.switchTheme {
   width: 350px;
   height: 27px;
   gap: 15px;
   border-top: 1px solid var(--color-line);
   padding: 24px 19px;
   cursor: default;
}
