.AboutProject {
   padding: 100px 0 50px;
   border-bottom: 1px solid var(--color-primary);
}

.technologies {
   gap: 30px;
}

.description {
   text-align: center;
   margin-top: 15px;
   line-height: 22px;
   margin-bottom: 60px;
   font-size: var(--size-16);
   font-style: italic;
}

.title {
   font-size: var(--size-32);
}

.titleAbout {
   width: 100%;
   font-size: var(--size-18);
   text-align: center;
}

.titleTechnology {
   display: flex;
   align-items: center;
   cursor: pointer;
   font-size: var(--size-22);
   margin-bottom: 20px;
}

.addIcon {
   margin-right: 15px;
   fill: var(--color-input-active, #ff9a2e);
}

.text {
   font-size: var(--size-22);
   margin-left: 34px;
   margin-bottom: 20px;
   cursor: default;
}

@import './AboutProjectPageAdapt.module.scss';
