@import '../../../../app/styles/variables/mixins.scss';

.phoneModal {
   width: 668px;
   border-radius: 12px;
   background: var(--color-modal);
   color: var(--color-yellow);
   padding: 30px 40px;
   position: relative;
   opacity: 0;
   transform: scale(0.9);
   transition: 0.2s;
   position: relative;

   &.authModalActive {
      opacity: 1;
      transform: scale(1);
      transition: 0.2s;
   }
}

@media screen and (max-width: $mobile) {
   .phoneModal {
      width: 300px;
      padding: 20px;
   }
}
