.Switch {
   position: relative;
   width: var(--switch);
   height: calc(var(--switch) / 2);
}

.label {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: var(--color-grey-blue-dark);
   border: 1px solid var(--color-input);
   border-radius: 50px;
   cursor: pointer;
}

.input {
   position: absolute;
   display: none;
}

.slider {
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50px;
   transition: 0.3s;
}

.input:checked ~ .slider {
   background-color: var(--color-bg-hover);
}

.slider::before {
   content: '';
   position: absolute;
   top: calc(var(--switch) * 0.065);
   left: calc(var(--switch) * 0.08);
   width: calc(var(--switch) * 0.34);
   height: calc(var(--switch) * 0.34);
   border-radius: 50%;
   box-shadow: inset calc(var(--switch) * 0.125) -4px 0px 0px var(--color-bg-hover);
   background-color: var(--color-grey-blue-dark);
   transition: 0.3s;
}

.input:checked ~ .slider::before {
   transform: translateX(calc(var(--switch) * 0.475));
   background-color: var(--color-grey-blue-dark);
   box-shadow: none;
}
