@import '../../../../app/styles/variables/mixins.scss';

.StructureOrder {
   width: 340px;
   height: 495px;
   padding: 20px 10px 20px 20px;
   border-radius: 8px;
   background-color: var(--block-bg-primary);
   border: 1px solid var(--color-border-cards);
   box-shadow: 0 0 8px 0 var(--color-shadow);
   margin-top: 30px;
}

.title {
   font-size: var(--size-16);
}

.price {
   margin-bottom: 20px;
}

.delivery {
   font-size: var(--size-16);
}

@media screen and (max-width: $mobile) {
   .StructureOrder {
      width: 100%;
      height: auto;
      padding: 20px;
      margin-top: 0;
   }

   .title {
      font-size: var(--size-15);
   }

   .price {
      margin-bottom: 20px;
   }

   .delivery {
      font-size: var(--size-15);
   }
}
