@import '../../../../app/styles/variables/mixins.scss';

.buttonsContainer {
   width: 330px;
   margin-bottom: 19px;
}

.buttonSmall {
   width: 103px;
   height: 34px;
   border-radius: 8px;
   background-color: var(--color-background-button);
   color: var(--color-text-button);
}

.buttonBig {
   width: 160px;
   height: 34px;
   border-radius: 8px;
   background-color: var(--color-background-button);
   color: var(--color-text-button);
}

.buttonActive {
   background-color: var(--color-yellow);
}

@media screen and (max-width: $mobile) {
   .buttonsContainer {
      width: 280px;
   }

   .buttonSmall {
      width: 86px;
      font-size: var(--size-12);
   }

   .buttonBig {
      width: 135px;
      font-size: var(--size-12);
   }
}
