@import '../../../../app/styles/variables/mixins.scss';

.formByPhone {
   width: 587px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   position: relative;
   gap: 20px;
}

.title {
   width: 260px;
   margin-bottom: 30px;
}

.recaptcha {
   visibility: hidden;
}

.error {
   margin-top: 90px;
}

@media screen and (max-width: $mobile) {
   .formByPhone {
      width: 260px;
      gap: 10px;
   }

   .title {
      font-size: var(--size-24);
      width: 260px;
      margin-bottom: 10px;
   }

   .recaptcha {
      visibility: hidden;
   }

   .error {
      margin-top: 90px;
   }
}
