.overlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   background: rgba(100, 86, 23, 0.4);
   opacity: 0;
   transition: 0.2s;
   z-index: var(--index-min);

   &.nonAnimate {
      opacity: 1;
   }

   &.centerOverlay {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &.overlayActive {
      opacity: 1;
      transition: 0.2s;
   }
}
