.HorizontalScrolling {
   display: flex;
   align-items: center;
   position: relative;
}

.curtains {
   position: absolute;
   content: '';
   top: 0;
   bottom: 0;
   z-index: 1;

   &.leftCurtain {
      background: linear-gradient(
         to right,
         var(--color-bg-primary-scrolling) 93%,
         var(--color-bg-primary-scrolling-light) 98%,
         transparent
      );
      backdrop-filter: blur(4px);
   }

   &.rightCurtain {
      background: linear-gradient(
         to left,
         var(--color-bg-primary-scrolling) 93%,
         var(--color-bg-primary-scrolling-light) 98%,
         transparent
      );
      backdrop-filter: blur(4px);
   }
}

.icon {
   position: absolute;
   top: calc(50% - 16px);
   width: 31px;
   height: 31px;
   border-radius: 50%;
   border: none;
   z-index: 15;
   cursor: pointer;

   &.iconRightCurtains {
      left: 60px;
   }

   &.iconRight {
      left: 30px;
   }

   &.iconLeftCurtains {
      right: 60px;
      transform: rotate(180deg);
   }

   &.iconLeft {
      right: 30px;
      transform: rotate(180deg);
   }
}

.leftHidden {
   background: linear-gradient(
      to right,
      var(--color-bg-primary) 96%,
      transparent
   );
}

.rightHidden {
   background: linear-gradient(
      to left,
      var(--color-bg-primary) 96%,
      transparent
   );
}
