.HorizontalScrolling {
   display: flex;
   align-items: center;
   position: relative;
   padding: 30px 0;

   &:hover .iconBlock {
      opacity: 1;
      transition: 0.3s;
      cursor: pointer;
   }

   // &:hover .icon {
   //    opacity: 1;
   //    transition: 0.3s;
   //    cursor: pointer;
   // }
}

.curtains {
   position: absolute;
   content: '';
   top: 0;
   bottom: 0;
   z-index: 1;
}

.leftCurtain {
   background: linear-gradient(
      to right,
      var(--color-bg-primary-scrolling) 93%,
      var(--color-bg-primary-scrolling-light) 98%,
      transparent
   );
   backdrop-filter: blur(4px);
}

.rightCurtain {
   background: linear-gradient(
      to left,
      var(--color-bg-primary-scrolling) 93%,
      var(--color-bg-primary-scrolling-light) 98%,
      transparent
   );
   backdrop-filter: blur(4px);
}

.icon {
   position: absolute;
   top: calc(50% - 16px);
   width: 31px;
   height: 31px;
   border-radius: 50%;
   border: none;
   z-index: 15;
   cursor: pointer;
   // opacity: 0;
   // transition: 0.3s;
}

.iconRightCurtain {
   left: 60px;
}

.iconLeftCurtain {
   right: 60px;
   transform: rotate(180deg);
}

.iconBlock {
   display: flex;
   justify-content: center;
   position: absolute;
   width: 120px;
   top: 0;
   z-index: 3;
   opacity: 0;
   transition: 0.3s;
}

.iconRight {
   right: 0;
}

.iconLeft {
   left: 0;
   transform: rotate(180deg);
}
.iconInverse {
   background: #574f51;
}

.leftHidden {
   background: linear-gradient(
      to right,
      var(--color-bg-primary) 96%,
      transparent
   );
}

.rightHidden {
   background: linear-gradient(
      to left,
      var(--color-bg-primary) 96%,
      transparent
   );
}

.hidden {
   overflow: hidden;
}
