@import '../../../../app/styles/variables/mixins.scss';

.switch {
   width: 350px;
   gap: 5px;
   margin-bottom: 40px;
}

.switchTheme {
   width: 350px;
   height: 27px;
   gap: 15px;
   border-top: 1px solid var(--color-line);
   padding: 24px 19px;
   cursor: default;
}

@media screen and (max-width: $mobile) {
   .switch {
      width: 100%;
      margin-bottom: 30px;
   }

   .switchTheme {
      width: 290px;
      padding: 24px 0;
      gap: 0;
   }
}
