@import '../../../../../app/styles/variables/mixins.scss';

@media screen and (max-width: $mobile) {
   .title {
      font-size: var(--size-24);
   }

   .formByPhone {
      padding-top: 28px;
      width: 260px;
      height: auto;
   }

   .warning {
      line-height: 22px;
      width: 100%;
      margin-bottom: 15px;
      font-size: var(--size-13);

      a {
         margin-right: 15px;
      }
   }

   .testNumber {
      color: var(--color-yellow);
      cursor: pointer;
      position: relative;
      padding-right: 12px;

      &.copyInactive {
         color: var(--color-primary);
         margin-right: 5px;
         padding-right: 0;
         .icon {
            display: none;
         }
      }

      .icon {
         display: block;
         position: absolute;
         top: 0;
         right: 0;
         width: 10px;
         height: 10px;
      }
   }

   .loginInput {
      width: 255px;
      gap: 10px;
   }

   .yaButton {
      margin-bottom: 15px;
   }

   .text {
      width: 255px;
      font-size: var(--size-10);
      margin-top: 10px;
   }

   .submitCode {
      flex-direction: column;
      width: 255px;
      margin-top: 8px;
   }

   .errorNumber {
      margin-bottom: 30px;
   }
}
