.formByPhone {
   padding-top: 41px;
   width: 587px;
   height: 270px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   position: relative;
}

.warning {
   line-height: 24px;

   a {
      color: var(--color-input-active);
   }
}

.testNumber {
   color: var(--color-yellow);
   cursor: pointer;
   position: relative;
   padding-right: 12px;

   &.copyInactive {
      color: var(--color-primary);
      padding-right: 0;
      .icon {
         display: none;
      }
   }

   .icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 10px;
      height: 10px;
   }
}

.phoneContainer {
   color: var(--color-primary);
}

.loginInput {
   width: 414px;
   font-size: var(--size-13);
   font-weight: var(--weight-500);

   & input {
      font-weight: var(--weight-700);
      font-size: var(--size-15);
   }

   & button {
      font-weight: var(--weight-500);
      font-size: var(--size-14);
   }
}

.yaButton {
   margin-right: 27px;
}

.text {
   width: 319px;
}

.gapForm {
   gap: 25px;
}

.errorNumber {
   margin-bottom: 30px;
}

@import './PhoneFormComponentAdapt.module.scss';
