@import '../../../../app/styles/variables/mixins.scss';

.Bonuses {
   display: flex;
   justify-content: center;
   align-self: center;
   width: 100vw;
   background-color: var(--color-bg-bonuse);
   padding: 43px;
}

.bonusesContainer {
   width: 1110px;
}

.emptyCard {
   background-color: var(--color-bg-card-bonuse);
   width: 255px;
   height: 338px;
   padding: 38px;
   border-radius: 8px;
   box-shadow: 0 4px 28px 0 rgba($color: #000000, $alpha: 0.08);
}

.bonusesLink {
   margin-top: 9px;
   padding-bottom: 3px;
   border-bottom: 2px dashed var(--color-yellow);
}

@media screen and (max-width: $mobile) {
   .Bonuses {
      padding: 33px;
   }

   .bonusesContainer {
      width: 100%;
   }

   .emptyCard {
      height: 288px;
      padding: 48px 38px;
   }
}
